/*
  Created at: 07/05/2021 19:43:32 Monday
  Modified at: 07/08/2021 04:12:21 PM Thursday
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
}

.ROOT {
  display: flex;
  flex-direction: column;
  margin: 20em;
  font-family: sans-serif;
}
.ROOT > * {
  margin: 0.5em;
}
.ROOT > input,
.ROOT > textarea {
  padding: 0.5em;
  font-size: 1em;
}

.log {
  display: flex;
  flex-direction: column;
  border: 0.1em solid hsl(0, 0%, 0%);
  padding: 0.5em;
  text-align: center;
}
.log > span {
  color: grey;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 1em;
}
.log #log div span {
  font-weight: bold;
  font-size: 1.1em;
}
.log #log div span {
  color: hsl(var(--i), 100%, 50%);
}
